@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


body {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/stacked-waves-haikei.svg);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    box-sizing: content-box;
}


#mainContainer {
    display: flex;
    height: 80vh;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    margin: 20px;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 300px;
    border-right: 1px solid #3C49DD;
}

.profileContainer {
    display: flex;
    align-items: center;
    background: #3c49dd;
    border-top-left-radius: 9px;
    height: 80px;
}
    .profileContainer a {
        margin-left: 17%;
 
    }

.profilePictureContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 0 20px 0 20px;
}

.profilePicture {
    width: 35px;
    height: 35px;
}

.userNameText {
    font-family: DM Sans, serif;
    font-weight: 500;
    color: #F3FAFA;
    margin-right: 20px;
}

.userInfo {
    margin: 0;
    display: flex;
    justify-content: center;
}

.addUserContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 4vh;
    padding: 10px 7px 15px 20px;
    border-bottom: 1px solid #9a9a9a;
}


.contactsContainer {
    height: 80%;
    width: inherit;
    overflow-y: scroll;
}

    .contactsContainer::-webkit-scrollbar {
        display: none;
    }

#addUserInput {
    height: 60%;
    width: 75%;
    padding: 3px;
    border-radius: 5px;
    border-style: none;
    font-family: DM Sans, serif;
    color: #1F2025;
}

    #addUserInput:focus {
        outline-style: double;
        outline-color: #3C49DD;
    }

#addUserButton {
    height: 27px;
    width: 27px;
    margin-left: 10px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: inherit;
    border-bottom: 1px solid #9a9a9a;
}

.activeContact {
    background-color: #3C49DD;
    width: 5px;
    height: 8vh;
}

.contactImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    margin: 0 15px 0 15px;
}

.contactImage {
    height: 35px;
    width: 35px;
}

.contactName {
    font-family: DM Sans, serif;
    font-weight: 500;
    color: #1F2025;
}

.contactsInfo {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activePlusInfo {
    display: flex;
    justify-content: space-between;
}

.deleteContactContainer {
    margin: 16px;
}

.deleteContactIcon {
    height: 23px;
    width: 22px;
}

.logOutContainer {
    display: flex;
    align-items: center;
    place-content: end;
    height: 10%;
    width: inherit;
    margin-top: auto;
}

#logOutIcon {
    height: 25px;
    width: 25px;
    padding: 10px;
}

    #logOutIcon:hover {
        height: 27px;
        width: 27px;
    }

/*CHAT*/
.chatContainer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#messagesContainer {
    overflow-y: scroll;
}

    #messagesContainer::-webkit-scrollbar {
        display: none;
    }

.contactImageMessage {
    display: flex;
    margin: 4px;
}

.contactImageAvatar {
    height: 30px;
    width: 30px;
}

.messageInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    margin-top: auto;
    padding: 15px;
}

#messageInput {
    width: 90%;
    height: 25px;
    padding: 3px;
    border-radius: 5px;
    border-style: none;
    font-family: DM Sans, serif;
    color: #1F2025;
    background: #e0e1ee;
}

    #messageInput:focus {
        outline-style: double;
        outline-color: #3C49DD;
    }

#sendMessageButton {
    height: 25px;
    width: 20px;
    padding: 8px;
}

.receivedMessage {
    display: flex;
    place-content: flex-start;
    width: auto;
}

.sentMessage {
    display: flex;
    place-content: flex-end;
    width: auto;
}

.textMessageContainer {
    background-color: #cbccde;
    font-family: "DM Sans", serif;
    color: #1F2025;
    font-size: 14px;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
}

.textMessageReceived {
    margin: 0;
}

.textMessageSend {
    background-color: #3C49DD;
    font-family: "DM Sans", serif;
    color: #F3FAFA;
    font-size: 14px;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: auto;
}
