.gradient-custom {
    background-image: url(/images/stacked-waves-haikei.svg);
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}
#signInError{
    text-align:center;
    color:red;
}

.cardcss {
    background: rgba(255, 255, 255, 0.7);
}